---
---
<div class="row">
  <!-- Entry bib key -->
    <!-- Title -->
    <div class="title">{{ entry.title }}</div>
    <!-- Author -->
    <div class="author">
      {% assign author_array_size = entry.author_array | size %}

      {% assign author_array_limit = author_array_size %}
      {% if site.max_author_limit and author_array_size > site.max_author_limit %}
        {% assign author_array_limit = site.max_author_limit %}
      {% endif %}

      {%- for author in entry.author_array limit: author_array_limit -%}
        {% assign author_is_self = false %}
        {%- assign author_last_name = author.last | regex_replace: '[*∗†‡§¶‖&^]', '' -%}
        {%- assign author_last_html = author.last | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' -%}
        {% if site.scholar.last_name contains author_last_name %}
          {% if site.scholar.first_name contains author.first %}
            {% assign author_is_self = true %}
          {% endif %}
        {%- endif -%}
        {% assign coauthor_url = null %}
        {%- assign clean_last_name = author_last_name | downcase | remove_accents -%}
        {% if site.data.coauthors[clean_last_name] %}
          {%- for coauthor in site.data.coauthors[clean_last_name] -%}
            {% if coauthor.firstname contains author.first %}
              {%- assign coauthor_url = coauthor.url -%}
              {% break %}
            {% endif %}
          {%- endfor %}
        {%- endif -%}

        {%- if forloop.length > 1 -%}
          {% if forloop.first == false %},&nbsp;{% endif %}
          {%- if forloop.last and author_array_limit == author_array_size %}and&nbsp;{% endif -%}
        {% endif %}
        {%- if author_is_self -%}
          <em>
            {{- author.first }}
            {{ author_last_html -}}
          </em>
        {%- else -%}
          {%- if coauthor_url -%}
            <a href="{{ coauthor_url }}">
              {{- author.first }}
              {{ author_last_html -}}
            </a>
          {%- else -%}
            {{- author.first }}
            {{ author_last_html -}}
          {% endif %}
        {%- endif -%}
      {% endfor %}
      {% if more_authors > 0 %}
        <span class="more-authors">
          and {{ more_authors }} more authors
        </span>
      {% endif %}
    </div>

    <!-- Journal/Book title and date -->
    {% assign proceedings = 'inproceedings,incollection' | split: ',' %}
    {% assign thesis = 'thesis,mastersthesis,phdthesis' | split: ',' %}
    {% if entry.type == 'article' %}
      {% capture entrytype %}<em>{{ entry.journal }}</em>{% endcapture %}
    {% elsif proceedings contains entry.type %}
      {% capture entrytype %}<em>In {{ entry.booktitle }}</em>{% endcapture %}
    {% elsif thesis contains entry.type %}
      {% capture entrytype %}<em>{{ entry.school }}</em>{% endcapture %}
    {% else %}
      {% capture entrytype %}{% endcapture %}
    {% endif %}
    {% if entry.year %}
      {% capture entryyear %}{{ " " }}{{ entry.year }}{% endcapture %}
    {% endif %}
    <div class="periodical">
      {{ entrytype }}{{ entryyear }}
    </div>

    <!-- Links/Buttons -->
    <div class="links">
      {% if entry.arxiv %}
        <a href="https://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button">arXiv</a>
      {% endif %}
      {% if entry.pdf %}
        <a href="{{ entry.pdf }}" class="btn btn-sm z-depth-0" role="button">PDF</a>
      {% endif %}
      {% if entry.code %}
        <a href="{{ entry.code }}" class="btn btn-sm z-depth-0" role="button">Code</a>
      {% endif %}
    </div>

    {% if entry.abstract %}
      <div class="abstract">
        <p>{{ entry.abstract }}</p>
      </div>
    {% endif %}
    
    {% if entry.bibtex_show %}
      <div class="bibtex">
        {% highlight bibtex %}
        {{- entry.bibtex }}
        {% endhighlight %}
      </div>
    {% endif %}
</div>
